{%- # theme-check-disable VariableName, UnusedAssign, DeprecatedTag -%}
<meta charset="utf-8">
{% include 'global-variables' %}
<script>
    if(!window.performance.mark) {
        window.performance.mark = a => a;
    }
    window.performance.mark('theme:DOM:load');
    {%- if request.design_mode -%}
        window.isDesignMode = true;
    {%- endif -%}
    window.theme = {};window.page = { default: {} };
</script>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="format-detection" content="telephone=no">
<meta name="theme-color" content="{{ settings.color_theme }}">
<link rel="canonical" href="{{ canonical_url }}">
{%- assign page_title_downcase = page.title | downcase -%}
{%- assign robots_content = 'index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' -%}
{%- if request.page_type == 'search' -%}
    {%- assign robots_content = 'noindex, follow' -%}
{%- elsif current_tags -%}
    {%- assign robots_content = 'noindex, follow' -%}
{%- elsif request.page_type == 'cart' or request.page_type == '404' or request.page_type contains 'customers/' or template == 'page' and page_title_downcase contains 'include' -%}
    {%- assign robots_content = 'noindex, nofollow' -%}
{%- endif -%}
<meta name="robots" content="{{ robots_content }}">
{%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 32, height: 32 }}" type="image/png">
{%- endif -%}
{%- if template contains 'gift_card' -%}
    {%- assign formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros: gift_card.currency -%}
    {%- assign formatted_initial_value_stripped = formatted_initial_value | strip_html -%}
<title>{{ 'gift_cards.issued.title' | t: value: formatted_initial_value_stripped, shop: shop.name }}</title>
<meta name="description" content="{{ 'gift_cards.issued.subtext' | t }}">
{%- else -%}
<title>
        {{ page_title }}
        {%- if current_tags -%}
            {% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}
        {%- endif -%}
        {%- if current_page != 1 -%}
            &ndash; {{ 'general.meta.page' | t: page: current_page }}
        {%- endif -%}
        {%- unless page_title contains shop.name -%}
            &ndash; {{ shop.name }}
        {%- endunless -%}
    </title>
    {%- assign meta_description = page_description -%}
    {%- if meta_description == blank and request.page_type == 'product' and product.description != blank -%}
        {%- assign meta_description = product.description | strip_html | strip -%}
    {%- elsif meta_description == blank and request.page_type == 'collection' and collection.description != blank -%}
        {%- assign meta_description = collection.description | strip_html | strip -%}
    {%- elsif meta_description == blank and request.page_type == 'article' -%}
        {%- assign meta_description = article.excerpt_or_content | strip_html | strip -%}
    {%- elsif meta_description == blank -%}
        {%- assign meta_description = shop.description | default: shop.name -%}
    {%- endif -%}
<meta name="description" content="{{ meta_description | strip_html | strip | truncate: 320 | escape }}">
{%- endif -%}
{% render 'head-get-social-meta-tags' %}
<link rel="preconnect" href="https://cdn.shopify.com" crossorigin="">
{% render 'layout-get-version' %}
{%- assign skin_css_files = 'home-16,home-18,skin-1,skin-2,skin-3,skin-4,skin-5,skin-6,skin-7,skin-8,skin-9,skin-10,skin-11,skin-12,skin-13,skin-14,skin-15,skin-16,skin-17,skin-18' | split: ',' -%}
{% include 'js-assets-loader' %}
{% include 'css-start' %}
{% include 'js-start' %}
{%- if settings.app_language == 'weglot' -%}
    {% capture weglot_includes %}
        {% include 'weglot_hreftags' %}
        {% include 'weglot_switcher' %}
    {% endcapture %}
    {%- unless weglot_includes contains "Liquid error" -%}
        {{ weglot_includes }}
    {%- endunless -%}
{%- endif -%}

{%- if settings.reviews_type == 'loox' -%}
    {{ shop.metafields.loox["global_html_head"] }}
{%- endif -%}

{% render 'layout-get-shella' %}
